body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", "Arial" sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

.shop-item h2 {
	font-size: 14px;
}


/*
=================================================================================
-----------------------------------LAYOUT----------------------------------------
=================================================================================
*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.shop-navigation {
	width: 780px;
	float: left;
	min-height: 70px;
}

.user-block {
	float: right;
	width: 140px;
	padding: 0px;
}

.main-header {
	margin-bottom: 50px;
}

.page-title.item {
	margin-bottom: 50px;
	width: 621px;
}

.main-footer {
	margin-top: 50px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-social {
	float: left;
	width: 180px;
}

.footer-copyright {
	float: right;
	width: 180px;
}

.colum-left {
	float: left;
	width: 460px;
}

.colum-rigth {
	float: right;
	width: 390px;
}

.travel-kit {
	margin-bottom: 40px;
}

.order-container {
	margin-bottom: 65px;
}

.search {
	float: left;
	width: 220px;
	min-height: 575px;
}

.shop-item-catalog {
	float: right;
	width: 700px;
}

.shop-item {
	float: left;
	width: 220px;
	max-height: 290px;
	margin-right: 18px;
}

.shop-item:nth-child(3n) {
	margin-right: 0px;
}

.logo {
	float: left;
	margin-right: 35px;
}

.shop-navigation-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop-navigation-menu li {
	float: left;
	margin-right: 30px;
}

.breadcrums li {
	float: left;
	margin-right: 14px;
}

.breadcrums {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item-info-additional-title {
	margin-bottom: 40px;
}

.breadcrums {
	list-style: none;
	margin: 0;
	padding: 0;
}

.promo-title {
	display: block;
	clear: both;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
}

.price-content {
	float: left;
	width: 240px;
}

.price-content-table {
	float: right;
	width: 460px;
}

.price-content-about {
	clear: both;
}

.about-left {
	float: left;
	width: 380px;
}

.about-right {
	float: right;
	width: 380px;
}

.features-photo img:nth-child(2),
.features-photo img:nth-child(3) {
	margin-right: 20px;
}

.features-photo img {
	float: left;
}

.features-photo img:nth-child(1) {
	margin-bottom: 20px;
}

.btn-page-list {
	list-style: none;
	margin-left: 0px;
	padding: 0px;
	padding-top: 45px;
}

.btn-page-list li {
	display: block;
	float: left;
	margin-right: 8px;
}

.page-title .shop {
	margin-bottom: 57px;
	width: 621px;
}